#mainContainer {
    box-sizing: border-box;
    display: flex;
    size: 960px;
    flex: 1;
    justify-content: center;
}

.square {
    background-color: lightgrey;
    padding: 0;
    margin: 0;
    width: 1em;
    height: 1em;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}